*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ddd;
}
.app{
    position: fixed;
    width: 100%;
    height: 100%;
    /* max-width: 800px; */
    border: 1px solid#ddd;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #fff;
}
.app .screen{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}
.main-screen{
    overflow-y: auto;
}
.main-screen .logo{
    font-size: 35px;
    font-family: 'Pushster', cursive;
    color: white;
    padding: 30px;
}
.main-screen .categories{
    padding: 15px 10px 10px;
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 10px;
}
.main-screen .categories > div{
    padding: 10px 20px;
    background: #ddd;
    color: #111;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.main-screen .categories::-webkit-scrollbar {
    display: none;
}
.main-screen .categories > div.active{
    color: #fff;
    background: #111;
}
.main-screen .news-list {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.main-screen .news-list > .item {
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    max-width: 345px;
}
.main-screen .news-list > .item .thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.main-screen .news-list > .item details {
    padding: 10px;
}
.main-screen .news-list > .item details h2 {
    font-size: 16px;
    border-bottom: 10px;
}
.main-screen .news-list > .item p {
    font-size: 15px;
    color: #555;
    margin-top: 5px;
}
.news-screen .header {
    width: 100%;
    height: 50px;
    background: #111;
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.news-screen .header .back-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #eee;
    color: #111;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.news-screen .header .title {
    font-size: 15px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #eee;
}
.news-screen .news-frame {
    width: 100%;
    height: calc(100% - 50px);
}
.news-screen .news-frame iframe{
    width: 100%;
    height: 100%;
}
/* imageSlider */
.imgSlider{
    background-color: #555;
    position: absolute;  
    overflow: hidden; 
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg{
    height: 100%;
    width: 100%;
    animation: zoom 3s linear infinite;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}
.menu-icons i{
    padding: 15px;
    cursor: pointer;
    color: white;
    float: right;
}
.content{
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
}
.content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Pushster', cursive;
}
button{
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 5px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe7250;
    background: #fe7250;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: transparent;
    border: 2px solid #fff;
}